.linguages-right{
    display: inline-block;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #fff;

    margin-bottom: 38px;
    margin-left: 875px;
    list-style: none;
    
}
