.main-title{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #BA1F33;
    text-shadow: 4px 4px 0px #000000;
} 

.main-title.-second{
    text-align: center;
    color: #fff;
    text-shadow: none;
}

.main-title.-third{
    text-align: center;
    color: #3A4042;
    text-shadow: none;
    margin-top: 50px;
   
}