.main-button {
    display: inline-block;
    background-color: #000000;
    box-shadow: 5px 5px 0px #FFFFFF;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
    font-size: 20px;
    text-decoration: none;
    color:#FFFFFF 
    
}    
.main-button:hover{
   transform: scale(1.07);
}

.main-button.-full{
    width: 100%;
    background-color: #BA1F33;
    color: #000
}